
/* SELECTORES DE ETIQUETAS HTML */
body,h1,h4,ul,li{
    margin: 0;
    padding: 0;
}



body{
   

    background-image: url("fondo.jpg");
}
h1{
    color: rgb(0, 0, 0) ;
    
    font-size: 24px;
    
}
h5,h4,p,a {
    font-size: 20px;
}


/* SELECTORES PERSONALIZADOS */
.contenedor{
    width: 600px;
    background-color: white;
    margin: 0 auto;



}
.cabeza{
    color: white;
    background-color: #CCCCCC;
    padding: 20px;
}
.cuerpo{
    padding: 20px;

}
.pie{ 
    color: white;
    background-color: black;
    padding: 20px;
    text-align: center;
}
.foto{
   background-image: url("duki.jpg");
   width: 200px;
   height: 350px;

   padding: 50px 300px 50px 50px;


}

.vinculo{
    color: blueviolet;
    }
    .vinculo:hover{
        color: white;
        text-decoration: none;
        }
.marco-video{
    background-color: black;
  
}
.flecha{

    padding-top: 20px;
    padding-left: 250px;
    width: 50px;
    height: 50px;
}
.item-m{
    display: inline-block;
    padding: 10px;
}
.menu{
    background-color: rgba(121, 103, 103, 0.479);
}
.item-m a{
    color: rgb(0, 0, 0);
    padding: 10px;
} 
.item-m a:hover {
    color: white;
    background-color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 10px;
}


